@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

html,
body {
  margin: auto;
  padding: 0;
  color: white; /* Added some CSS to make my text white */
  background-color: black; /* CSS to make the bg black*/
  font-family: "ZCOOL XiaoWei", serif;
  width: 75%;
}

canvas {
  margin: auto; /* add the margin to center your canvas*/
  display: block;
}

h1 {
  text-align: center; /* Some CSS to center the text */
}

p {
  text-align: center;
  font-size: 18px;
}
